@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    display: block;
    position: absolute;
    background-color: white;
    height: 515px;
    width: 250px;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
}

div#imagem {
    display: block;
    background-image: url(../imagens/metal.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    background-position: left bottom;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 5px;
}

div#formulario > p {
    font-size: 1em;
    margin: 10px 0px;
}

form label {
    display: none;
}

form > div.campo {
    border: 2px solid #5f2c82;
    display: block;
    background-color:#5f2c82;
    width: 100%;
    border-radius: 8px;
    height: 42px;
    margin: 5px 0px;
}

div.campo > input {
    background-color: #cfeceb;
    font-size: 1em;
    height: 40px;
    width: calc(100% - 45px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-9px);
}

div.campo > input:focus-within {
    background-color: white;
}

div.campo > span {
    font-size: 2em;
    color: white;
    width: 40px;
    padding: 2px;
}

form > input[type=submit] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #49a09d;
    color: white;
    border: 0px;
    padding-bottom: 5px;
}

form > input[type=submit]:hover {
    background-color: #60d1cd;
    cursor: pointer;
}

form a {
    padding-top: 4px;
    margin: 5px 0px;
    display: block;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #49a09d;
    height: 40px;
    color: #49a09d;
    text-decoration: none;
}

form a:hover {
    background-color: #60d1cd;
    color: white;
}